.container {
  width: 360px;
  height: 100%;
  margin-left: 0px;
  margin-top: 10px;
  background: #f7f6f3;
  border-radius: 12px 12px 0px 0px;
}

.logo {
  width: 50%;
  height: 15%;
  text-align: center;
  margin-left: 20%;
}
